[project]
	description = Javascript framework based on the ideas from Nicholas C Zakas
[access "refs/*"]
	owner = group user/Quido Hoekman (qhoekman)
[access "refs/for/refs/*"]
	read = group user/Quido Hoekman (qhoekman)
	push = group user/Quido Hoekman (qhoekman)
	label-Code-Review = -2..+2 group user/Quido Hoekman (qhoekman)
	label-Verified = -1..+1 group user/Quido Hoekman (qhoekman)
	rebase = group user/Quido Hoekman (qhoekman)
	removeReviewer = group user/Quido Hoekman (qhoekman)
	submit = group user/Quido Hoekman (qhoekman)
[access "refs/heads/*"]
	read = group user/Quido Hoekman (qhoekman)
	create = group user/Quido Hoekman (qhoekman)
	push = +force group user/Quido Hoekman (qhoekman)
	pushMerge = group user/Quido Hoekman (qhoekman)
[access "refs/tags/*"]
	push = +force group user/Quido Hoekman (qhoekman)
	pushTag = group user/Quido Hoekman (qhoekman)
	pushSignedTag = group user/Quido Hoekman (qhoekman)
